absl-py 
cachetools 
certifi 
charset-normalizer 
cloudpickle 
contourpy 
cycler 
fenics-dijitso 
fenics-dolfin 
fenics-ffc 
fenics-fiat 
fenics-ufl 
fonttools 
gmpy2 
google-auth 
google-auth-oauthlib 
grpcio 
gym 
idna 
importlib-metadata 
kiwisolver 
markdown 
markupsafe 
matplotlib 
mpi4py 
numpy 
oauthlib 
packaging 
pandas 
petsc4py 
pickle5 
pillow 
pkgconfig 
protobuf 
pyasn1 
peakutils
pyasn1-modules 
pybind11 
pybind11-global 
pykalman 
pyparsing 
python-dateutil 
pytz 
requests 
requests-oauthlib 
rsa 
sb3-contrib 
scipy 
slepc4py 
stable-baselines3 
sympy 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
torch 
torchaudio 
torchvision 
typing-extensions 
urllib3 
werkzeug 
zipp 
